// overwriting (liveReload css)... check if something else is affected!!
//[padding], [padding] scroll-content {
//  padding: 0;
//}// ---------------------------------------


.container {
  flex-direction: row;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow:  wrap;
  flex-flow: wrap;
  font-weight: bold;
  text-align: center;
  height: 100%;

  .camera-zone {
    width: 50%;
    height: 100%;
    background: #f1f1f1;
    position: relative;
    .camera-joystick-raport {
      text-align: left;
      .list-name {
        color: #0c60ee;
      }
      ul {
        list-style-type: none;
      }
    }
  }

  .engine-zone {
    width: 50%;
    height: 100%;
    background: #eaf4ff;
    position: relative;
    .engine-joystick-raport {
      text-align: left;
      .list-name {
        color: #0c60ee;
      }
      ul {
        list-style-type: none;
      }
    }
  }

}


